@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

/* common css */
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: content-box;
}

h1{
    font-family: "Inter" sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: #ffffff;
    letter-spacing: 0.5%
}

p{
    font-family: "Inter" sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #aeaeae;
}

button{
    padding: 10px;
    background: #ffffff;
    color: #272727;
    font-size: 20px;
    font-family: "Inter" sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    transition: 0.4s ease-in;
    cursor: pointer;
}

button:hover{
    background: #84f0ff;
}

body{
    background: #000000;
}
/* common css */

/* Navbar Start */
    header {
        min-height: 100%;
        width: 100%;
        background-color: #000000;
    }

    nav{
        max-width: 1525px;
        margin: 60px;
        padding: 1px 0px;
        display: flex;
        justify-content: space-between;
        align-content: center;
    }


    .navbar ul{
        display: flex;
        justify-content: center;
        list-style: none;
    }

    .navbar ul li {
        margin: 0px 12.5px;
        border-radius: 6px;
        padding: 14px 18px;
        transition: 0.3s ease-in-out;
    }

    .navbar ul li a{
        font-size: 20px;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        color: #ffffff;
        text-decoration: none;
        transition: 0.3s ease-in-out;
    }
    .navbar ul li:hover{
        background: #272727;
    }

.navbar ul li:hover .nav-link {
    color: #84f0ff !important;
}

.nav-buttons button {
    margin: 0px 6px;
}

.nav-buttons button:nth-child(1){
    background: #6ad187;
}

.nav-buttons button:nth-child(2):hover{
    background: #84f0ff;
}

/* Navbar Ends */


/* banner starts here */

    .banner-text h1{
        color: #ffffff;
        font-family: "Inter", sans-serif;
    }
    .banner-text p{
        color: #ffffff;
        font-family: "Inter", sans-serif;
    }
    .banner{
        margin-top: 70px;
        margin-left: 50px;
        width: 100%;
    }
    .banner-area{
        max-width: 1283px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        margin: 10px;
    }
    .banner-text{
        width: 605px;
        padding: 127px 0px;
    }
    .banner-img{
        width: 649px;
    }
    .banner-text h1{
        font-size: 53px;
        font-family: "Inter", sans-serif;
        font-weight: 700;
        color: #ffffff;
        margin-bottom: 42px;
    }
    .banner-text h1 span{
        color: #84f0ff;
    }
    .banner-text p{
        margin-bottom: 42px;
    }
    .banner-buttons button {
        margin: 10px;
        padding: 22px 15.5px;
        margin-right: 2px;
    }
    
    .banner-buttons button:nth-child(1):hover{
        background-color: #84f0ff;
    }

    .banner-img{
        width: 649px;
    }

    .banner-box{
        width: 100%;
        margin-top: 178px;
    }
    .banner-box h1{
        font-family: "Inter", sans-serif;
    }
    .banner-p{
        font-family: "Inter", sans-serif;
    }

    .banner-box-area{
        max-width: 1527px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
    }

    .banner-box-single{
        background-color: #272626;
        width: 366px;
        height: 223px;
        margin: 24px;
    }
    .banner-icon {
        font-size: 32px;
        padding:  27px 0px 0px 27px;
    }
    .banner-box-title h1{
        font-size: 20px !important;
        color: #ffffff;
    }
    .banner-box-title{
        padding: 21px 0px 0px 27px;
    }
    .banner-p{
        padding: 21px 0px 27px 27px;
    }
    .green{
        color:#6AD187;
    }

    .purple{
        color:#926FDD;
    }
    .blue{
        color:#84F0FF;
    }
    .white{
        color: #ffffff;
        font-family: "Inter" sans-serif;
    }


/* About Area Starts */

.about{
    margin-top: 158px;
    width: 100%;
    font-family: "Inter", sans-serif;
}

.about-area{
    max-width: 1349px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.about-single{
    height: 104px;
    width: 168px;
    border: 1px solid;
    border: 2px solid rgba(255, 255, 255, 0.08);
    box-sizing: border-box;
    border-radius: 8px;
}
.title{
    font-family: "Inter",sans-serif;
    font-size: 27px;
    font-weight: 600;
    padding: 19px 0px 9px 0px;
    text-align: center;
    color: #ffffff;
}
.subtitle{
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter" sans-serif;
    text-align: center;
}
.about-box{
    width: 707px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.box{
    height: 370px;
    width: 558px;
    background-color: #ffffff;
    float: right;
    margin: 10px;
}
.white{
    margin: 10px;
}
.p2{
    margin: 10px;
}

.h2{
    color: #000000;
    margin: 150px;
    font-weight: 700;
    font-family: "Inter" sans-serif;
    text-align: center;
}
/* About Area Ends Here */


/* Course Part Starts Here */
.course{
    width: 100%;
    margin-top: 170px;
}

.course-area{
    max-width: 1514px;
    margin: 0 auto;
}
.course-heading{
    width: 600px;
    text-align: center;
    margin: 0 auto 55px;
}


.course-heading h1 span{
    margin-bottom: 35px;
}

.course-single{
    margin: 20px;
    width: 347px;
    height: 321px;
}

.course-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.course-title{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 24px;
    transition: 0.2s ease-in color;
}

.course-heading {
    font-family: "Inter", sans-serif;
}

.course-heading span{
    color: #926FDD;
}


.course-p{
    color: #aeaeae;
    font-size: 18px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}
.course-single:hover .course-title {
        color: #6AD187;
}

/* Course Part Ends Here */

/* instructors part start here */
.instructors{
    margin-top: 180px;
    width: 100%;
    font-family: "Inter", sans-serif;
}
.instructors-area{
    max-width: 1205px;
    margin: 0 auto;
}
.instructors-heading{
    text-align: center;
    width: 600px;
    margin: 0 auto;
}
.instructors-heading h1 span{
    color: #6AD187;
}
.instructors-heading p{
    margin-top: 28px;
}
.instructors-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    margin-top: 30px;
}
.instructors-single{
    width: 280px;
    height: 375px;

    transition: 0.3s ease-in height;
}
.instructors-img{
    width: 280px;
    height: 294px;
    position: relative;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background: rgba(50, 143, 89, 0.6);
    transition: 0.3s ease-in height;
}
.instructors-single:hover .overlay {
    height: 100%;
}

.instructor-name{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color:#ffffff;
    text-align: center;
    margin-top: 20px;
}

.instructor-designation {
    font-family: "Inter", sans-serif;
    font-weight: 500px;
    color: #6AD187;
    text-align: center;
    margin-top: 30px;
}
/* instructors part ends here */



.footer{
    width: 100%;
    height: 100px;
    font-size: 30px;
    padding: 20px 0px;
    background-color: #1a201c;
    box-sizing: content-box;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: white;
    margin-top: 40px;
    text-align: center;
}